<h1 style="background: orange; color: gray;">Application level</h1>
{{link-to 'Home' 'index'}}
{{link-to 'About' 'about'}}
{{#link-to 'about'}}
custom-link
{{/link-to}}
{{link-to 'Parent Route' 'parent'}}
{{link-to 'People' 'people'}}
{{link-to 'Elseif' 'elseif'}}
{{outlet}}




